.skill {
    margin-bottom: 1rem;
}
.progress-bar {
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
}
.progress {
    height: 100%;
    width: 0;
    background-color: #4caf50;
    border-radius: 10px;
    transition: width 2s;
}
.progress.html {
    width: 90%;
    background-color: #e34c26;
}
.progress.css {
    width: 80%;
    background-color: #264de4;
}
.progress.js {
    width: 70%;
    background-color: #f0db4f;
}